* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

body {
  background-color: #1f242d;
}

.navbar {
  /* background: slateblue; */
  position: fixed;
  padding: 15px 30px;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 30px;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: #fff;
    list-style: none;
    text-decoration: none;
  }

  ul {
    display: flex;
    gap : 30px;
  }

  ul li {
    list-style: none;
  }

  ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
  }

  ul li a:hover {
    color: #7cf03d;
  }

  ul li.active a {
    color: #7cf03d;
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  color: #fff;
  padding: 60px 9% 0;
}

.home-info h1 {
  font-size: 55px;
}

.home-info h2 {
  font-size: 32px;
  margin-top: -10px;
}

.home-info p {
  font-size: 16px;
  margin: 10px 0 25px;
}

.home .btn-sci a {
  color: #fff;
  text-decoration: none;
}

.home .btn-sci {
  display: flex;
  align-items: center;
}

.home .btn-sci .btn {
  display: inline-block;
  padding: 10px 30px;
  background: #7cf03d;
  border: 2px solid #7cf03d;
  border-radius: 40px;
  box-shadow: 0px 0px 10px #7cf03d;
  font-size: 16px;
  color: #1f242d;
  font-weight: 600;
  transition: 0.5s;
}

.home .btn-sci .btn:hover {
  background: transparent;
  box-shadow: none;
  color: #7cf03d;
}

.home .btn-sci .sci {
  margin-left: 20px;
  display: flex;
  gap: 10px;
}

.home .btn-sci .sci a {
  display: inline-flex;
  border: 2px solid #7cf03d;
  padding: 8px;
  border-radius: 50%;
  font-size: 20px;
  margin: 0 8px;
}

.home .btn-sci .sci a:hover {
  background: #7cf03d;
  color: #1f242d;
  box-shadow: 0 0 10px #7cf03d;
}

.home .home-img .img-box {
  height: 33vw;
  width: 33vw;
  background: red;
  border-radius: 50%;
  padding: 5px;
}

.home .home-img .img-box .img-item {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home-img .img-box .img-item img {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}